.env
.venv
tokens.json
notes.md
pgdata
__pycache__/
*.pyc
jupyter/data
jupyter/config
*_checkpoints
.DS_Store
airflow/logs
airflow/pgdata
dbt/logs
dbt/target
dbt/dbt_packages
dbt/.user.yml
etl/.coverage

